-e git+https://github.com/LandRegistry/audit-plugin.git@fe86a16fbf8039d42c76c0720d66ad1f4fe3cf60#egg=lraudit-master
-e git+https://github.com/LandRegistry/datatypes#egg=datatypes
-e git+https://github.com/Runscope/healthcheck.git@9d661a916f3ab630ae21e014758aa2f21fd40097#egg=healthcheck-master
alembic
blinker
eventlet
Flask
Flask-BasicAuth
Flask-KVSession
Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
passlib
psycopg2
py-bcrypt
pytz
raven
redis
requests
simplekv
six
SQLAlchemy
Werkzeug
wsgiref
WTForms
