{% macro render_field(field) %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {% if field.type == 'RadioField'%}
          {% for value, label, checked in field.iter_choices() %}
            <div class="radio">
              <label>
                <input type="radio" id="{{value}}" name="{{ field.id }}" value="{{ value }}" {% if checked %}checked="true"{% endif %}>{{ label }}
              </label>
            </div>
          {% endfor %}
        {% elif field.type == 'BooleanField' %}
          {{ field.label(class_="control-label") }}
          {{ field(**kwargs) }}
        {% elif field.type == 'HiddenField' %}
          {{ field(class_="form-control", **kwargs) }}
        {% else %}
          {{ field.label(class_="control-label") }}
          {{ field(class_="form-control", **kwargs) }}
        {% endif%}
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="help-block" id="error_{{field.id}}">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}
