{% extends "servicefrontend_base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
      <h1>Acknowledgement</h1>
      <p>
      Land Registry acknowledges your application to change the register of title.
      </p>
      <p>
      Land Registry will notify you when registration is completed.
      </p>
      <p>
      If you need to contact us in the interim, see the information below. Always quote the title number.
      </p>

      <h2>Contact</h2>

      <p>
      Telephone: 01234567890
      </p>
      <p>
      Email: change@example.org
      </p>
    </div>
</main>
{% endblock %}
