{% from "_form_helpers.html" import render_field %}
{% extends "servicefrontend_base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
    {% include "inc_alpha_banner.html" %}

        <div class="inner-block">

            <h1 class="heading-xlarge">
              Change register
            </h1>

            <h2 class="heading-large">Change proprietor name by way of marriage</h2>

            <form action='' method='POST'>
              {{ form.csrf_token }}{{form.hidden_tag()}}

              <fieldset>

                {{ render_field(form.title_number) }}
                {{ render_field(form.proprietor_new_name) }}
                {{ render_field(form.partner_name) }}
                {{ render_field(form.marriage_date) }}
                {{ render_field(form.marriage_place) }}
                {{ render_field(form.marriage_certificate_number) }}
                {{ render_field(form.witness_name) }}
                {{ render_field(form.witness_address) }}
                {{ render_field(form.witness2_name) }}
                {{ render_field(form.witness2_address) }}

                <button type="submit" id="submit" class="button">Submit</button>
              </fieldset>
            </form>

        </div>
    </div>
</main>







{% endblock %}
