{% extends "servicefrontend_base.html" %}
{% include "global/map_includes.html" %}

{% block head_additionals %}
<link href="{{ landregistry_asset_path }}stylesheets/service-frontend-pv-shame.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
    {% include "inc_alpha_banner.html" %}
        <div class="inner-block">

            <div class="notification edit-mode">
                <h2 class="heading-medium">Edit mode</h2>
            </div>

            <div class="callout callout--summary">

                <h1 class="heading-large first-heading">
                    Official register of title <span class="title-flag">{{ title.title_number }}</span>
                </h1>

                <!--
                <p>
                    This register was last changed on <b>7 August 2013</b> at <b>16:46:28</b>
                </p>
                -->

                <div class="lede">

                    <div class="grid grid-1-3">

                        <div itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">
                                {{ title.property.address.house_number }}<br>
                                {{ title.property.address.road }}
                            </span>
                            <span itemprop="addressLocality">{{ title.property.address.town }}</span><br>
                            <span itemprop="postalCode">{{ title.property.address.postcode }}</span>
                        </div>

                    </div>

                    <figure class="grid grid-1-3">
                        {% if title.extent is defined %}
                        <div id="map" class="title-plan" style="width:300px; height:200px;">
                            <script type='text/javascript'>
                                var extentData = {{ title.extent | tojson}};
                                <!-- This is only for sprint 4, just one easement allowed, left as an array for future enhancement -->
                                var easementData = {{ title.easements[0].easement_geometry | tojson}};
                                var apiKey = "{{ apiKey }}";
                            </script>
                            <script src="{{asset_path}}/javascripts/map.js"></script>
                        </div>
                        {% endif %}
                    </figure>

                </div>

                <dl class="inline">
                    <dt>Registered owner(s)</dt>
                    <dd>
                        {% for proprietor in title.proprietors %}
                            {% if  proprietor.first_name and proprietor.last_name %}
                                {{ proprietor.first_name }} {{ proprietor.last_name }}
                                <span class='change edit-mode'>
                                    (<a href='{{request.path}}/edit/title.proprietor.{{loop.index}}'>change</a>)
                                </span>
                                {% if not loop.last %}, {% endif %}
                            {% endif %}
                        {% endfor %}
                    </dd>

                    <dt>Tenure</dt>
                    <dd>{{ title.property.tenure | capitalize }}</dd>

                    <dt>Quality of title</dt>
                    <dd>{{ title.property.class_of_title | capitalize }}</dd>

                    {% if title.payment.price_paid %}
                    <dt>Price paid</dt>
                    <dd>&pound; {{ title.payment.price_paid | currency }}</dd>
                    {% endif %}
                </dl>

            </div>

            {% if title.charges %}
            <h2 class="heading-large">Charges Register</h2>
            <div class="charges">
              <h3>This register contains any charges and other matters that affect the land.</h3>
              <ul>
                   {% for charge in title.charges %}
                  <li>Registered charge dated {{ charge.charge_date | format_date_YMD }}.<br>
                  Proprietor: {{ charge.chargee_name }}
                  (Co. Regn. No. {{ charge.chargee_registration_number }})
                  of {{ charge.chargee_address }}.</li>
                  {% endfor %}
              </ul>
            </div>
            {% endif %}

            {% if title.easements %}
            <h2 class="heading-large">Easements Register</h2>
            <div class="charges">
              <h3>This register contains any easements and other matters that affect the land.</h3>
              <ul>
                   {% for easement in title.easements %}
                  <li>{{ easement.easement_description }}</li>
                  {% endfor %}
              </ul>
            </div>
            {% endif %}

            <div class="divider">
                <button class='button' id='makeChange'>Edit the register</button>
            </div>
        </div><!-- end inner-block -->
    </div><!-- end content -->

    <script>
        $(document).ready(function() {
            var $editMode = $('.edit-mode');
            $editMode.hide();
            $('#makeChange').click(function() {
                $editMode.show();
                $('html, body').animate({ scrollTop: 0 }, 0);
            });
        });
    </script>
</main>

{% endblock %}
