{% extends "servicefrontend_base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
    {% include "inc_alpha_banner.html" %}
        <div class="inner-block">

            <h1 class="heading-xlarge">
              Application complete
            </h1>
            <p>
              Your application to change the title register has been received. You’ll be notified when the changes have been made.
            </p>

            <p>
              If you've any questions about your application, contact the Land Registry, quoting the title number.
            </p>

          </div>
    </div>
</main>
{% endblock %}
