{% extends "servicefrontend_base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
        {% include "inc_alpha_banner.html" %}

        <div class="outer-block">
            <div class="inner-block">

                <h1>Changes to title {{title_number}}</h1>

                <h2>Pending changes</h2>

                <div class="text">
                    <p class="lede">Upcoming changes to this title register, in order of priority.</p>
                </div>

                <ol class="register-changes-pending">
                    {% for case in cases %}
                    <li>
                        <h3 class="heading-small">{{case.application_type}}</h3>
                    <span class="alert-flag">Submitted on: {{case.submitted_at}} </br>
                        Submitted by: {{case.submitted_by}}
                    </span>

                        <div class="text footnote">
                            <ul>
                                <li>Previous name: {{case.request_details_data.proprietor_full_name}} </li>
                                <li>New name: {{case.request_details_data.proprietor_new_full_name}} </li>
                                <li>Marriage date: {{case.request_details_data.marriage_date}} </li>
                                <li>Marriage certificate number: {{case.request_details_data.marriage_certificate_number}} </li>
                                <li>Marriage location: {{case.request_details_data.marriage_place}} </li>
                                <li>Marriage country: {{case.request_details_data.marriage_country}} </li>
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ol>

            </div>
        </div>

    </div>
</main>

{% endblock %}
