{% extends "servicefrontend_base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
        {% include "inc_alpha_banner.html" %}

        <div class="outer-block">
            <div class="inner-block">

                <div class="breadcumb-reverse">
                    <nav role="navigation">
                        <a href="/property/{{ title_number }}">Back to title</a>
                    </nav>
                </div>

                <h1>Changes to title {{title_number}}</h1>

                <h2>Pending changes</h2>

                {% if pending %}
                    <div class="text" id="pending">
                        <p class="lede">Upcoming changes to this title register, in order of priority.</p>
                        <ol class="register-changes-pending">
                            {% for case in pending %}
                                <li>
                                    <h3 class="heading-small">{{case.application_name}}</h3>
                                    <span class="alert-flag">Submitted on {{case.submitted_at | format_date_time_iso_8601}}</span>
                                    <div class="text footnote">
                                        <p>Submitted by {{case.submitted_by}}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                {% else %}
                    <div class="text">
                        <p class="lede">There are no pending changes to this title register.</p>
                    </div>
                {% endif %}

                <h2>Historical changes</h2>

                {% if historical_changes %}
                    <div class="text" id="previous">
                        <p class="lede">Previous changes to this title register, in chronological order.</p>
                        <ol class="register-changes-previous">
                        {% for version in order_by_latest_version_first %}
                            <li>
                                <time datetime="2013-08-07T16:46:28Z">{{ historical_changes[version] }}</time>
                                <h3 class="heading-small">Version {{ version }}</h3>
                                <p>
                                  <a href="changes/{{ version }}">View register on {{ historical_changes[version] }}</a>
                                </p>
                            </li>
                        {% endfor %}
                        </ol>
                    </div>
                {% else %}
                    <div class="text">
                        <p class="lede">There have been no changes to this title register.</p>
                    </div>
                {% endif %}

            </div>
        </div>

    </div>
</main>

{% endblock %}
