{% extends "servicefrontend_base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
        {% include "inc_alpha_banner.html" %}

        <div class="outer-block">
            <div class="inner-block">

                <h1>Changes to title {{title_number}}</h1>

                <h2>Pending changes</h2>

                <div class="text" id="pending">
                    <p class="lede">Upcoming changes to this title register, in order of priority.</p>

                    {% if pending %}
                        {% for case in pending %}
                            <ol class="register-changes-pending">
                                <li>
                                    <h3 class="heading-small">{{case.application_name}}</h3>
                                        <span class="alert-flag">Submitted on: {{case.submitted_at | datetimeformat}} </br>
                                            Submitted by: {{case.submitted_by}}
                                        </span>
                                </li>
                            </ol>
                        {% endfor %}
                    {% else %}
                        <h3>No pending changes</h3>
                    {% endif %}
                </div>

                <h2>Historical changes</h2>

                <div class="text" id="previous">
                    <p class="lede">Previous changes to this title register.</p>
                    {% if historical_changes %}
                        <ol class="register-changes-previous">
                        {% for version in order_by_latest_version_first %}
                              <li>
                                  <a href="changes/{{ version }}">Version {{ version }} </a>  &nbsp; &nbsp;{{ historical_changes[version] | datetimeformat }}

                              </li>
                        {% endfor %}
                        </ol>
                    {% else %}
                        <h3>No previous changes</h3>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}
