{% extends "servicefrontend_base.html" %}

{% block content %}

<!--{u'property_town': u'London', u'conveyancer_address': u'123 High Street, Stoke, ST4 4AX', u'geometry': {u'geometry': {u'type': u'Polygon', u'coordinates': [[[404439.5558898761, 369899.8484076261], [404440.0558898761, 369899.8484076261], [404440.0558898761, 369900.3484076261], [404439.5558898761, 369900.3484076261], [404439.5558898761, 369899.8484076261]]]},
<!--u'crs': {u'type': u'name', u'properties': {u'name': u'urn:ogc:def:crs:EPSG:27700'}}, u'type': u'Feature', u'properties': {u'Description': u'Polygon'}}, u'property_postcode': u'N1 4QX',
<!--u'clients': [{u'lrid': u'', u'name': u'Bob', u'DOB': u'1970-01-01', u'address': u'aegdf', u'tel_no': u'987932845', u'email': u'b@test.com'}],
u'property_road': u'89B Newington Green Green',
u'conveyancer_name': u'Da Big Boss Company',
u'property_no': u'89B Newington Green Green',
u'title_number': u'TEST1410796409433', u'task': u'buying', u'conveyancer_lrid': u'd0aa45e7-2511-4899-938b-aca9f4a04cd2'}&ndash;&gt;&ndash;&gt;-->

<main id="wrapper" role="main">
    <div id="content">
    {% include "inc_alpha_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <h1>Confirm relationship</h1>

        <article class="legal-document--bounds">

          <section class="legal-document--item">

            <h2 class="heading-small">You are authorising:</h2>

            <p itemscope itemtype="http://schema.org/Corporation">
              <span itemprop="name">{{details.conveyancer_name}}</span><br>
              <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="address-inline">
                <span itemprop="streetAddress">
                  {{details.conveyancer_address}}</span>
              </span>
            </p>

          </section><!-- end item -->


          <section class="legal-document--item legal-document--bordered">

            <h2 class="heading-small">To act on your behalf on:</h2>

              <p class="lede" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">
                  {{details.property_road}}<br>
                   <!--{{details.property_number}}-->
                </span>

              </p>

              <dl class="lede definition-inline">
                <dt>Title number</dt>
                <dd>{{ details.title_number }}</dd>
              </dl>


              <h3 class="heading-small">To make the following changes:</h3>
              <p class="text">{{details.task}} property</p>


          </section><!-- end item -->



        </article>


        <form action="/relationship/client/confirm" method="POST" class="form">
          <div class="form-group">
            <label for="check-1" class="block-label">
              <input id="check-1" type="checkbox" name="agree-execution">
              I have read and understood the information above
            </label>
          </div>
          <div class="form-group">
            <input type="hidden" value="{{token}}" name="token" id="token">
            <button type="submit" class="button">Confirm relationship</button>
          </div>
        </form>

      </div>
    </div>

</main>

{% endblock %}
