{% extends "servicefrontend_base.html" %}

{% block content %}
<main id="wrapper" role="main">
    <div id="content">
    {% include "inc_alpha_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <h1 class="heading-large">Verify relationship</h1>

        <p class="lede text">Please check all the details carefully before verifying you want this solicitor or conveyancer to act on your behalf for this transaction.</p>

        <article class="legal-document--bounds">

          <section class="legal-document--item">

            <h2 class="heading-small">You are authorising:</h2>

            <p itemscope itemtype="http://schema.org/Corporation">
              <span itemprop="name">{{details.conveyancer_name}}</span><br>
              <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="address-inline">
                <span itemprop="streetAddress">
                  {{details.conveyancer_address}}</span>
              </span>
            </p>

          </section><!-- end item -->

          <section class="legal-document--item legal-document--bordered">

            <h2 class="heading-small">To act on your behalf on:</h2>

              <p class="lede" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">
                  {{details.property_road}}<br>
                </span>

              </p>

              <dl class="definition-inline">
                <dt>Title number</dt>
                <dd>{{ details.title_number }}</dd>
              </dl>

          </section><!-- end item -->

          <section class="legal-document--item legal-document--bordered">
            <h3 class="heading-small">To make the following changes:</h3>
            <p class="text">{{details.task}} property</p>
          </section>

        </article>

        <form action="/relationship/client/confirm" method="POST" class="form">
          <div class="form-group">
            <label for="check-1" class="block-label">
              <input id="check-1" type="checkbox" name="agree-execution">
              I have read and understood the information above
            </label>
          </div>
          <div class="form-group">
            <input type="hidden" value="{{token}}" name="token" id="token">
            <button type="submit" class="button">Confirm relationship</button>
          </div>
        </form>

      </div>
    </div>

</main>

{% endblock %}
