{% extends "servicefrontend_base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
    {% include "inc_alpha_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <div class="callout callout--action-notice callout--generated-token">

          <h1>
            Relationship verified
          </h1>

        </div>

        <div class="text">
          <p class="lede">
            You've verified your relationship with {{conveyancer_name}}.
          </p>
          <p>To authorise {{conveyancer_name}} to act on your behalf for this transaction, all other parties must also complete this process.</p>
        </div>

        <div class="text">
          <h2>What happens next</h2>

          <p>Your solicitor or conveyancer will be notified of the verification and will start preparing the deeds for the transfer and mortgage.</p>

          <p>Once your documents are ready to sign, you’ll be notified by text or email.</p>
        </div>

      </div>
    </div>

</main>

{% endblock %}
