{% from "_form_helpers.html" import render_field %}
{% extends "servicefrontend_base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
    {% include "inc_alpha_banner.html" %}

        <div class="inner-block">

            <h1 class="heading-xlarge">
              Confirmation
            </h1>

            <h2 class="heading-large">Change owner name on marriage</h2>

            <form action='' method='POST' class="text">
              {{ form.csrf_token }}{{form.hidden_tag()}}

              <fieldset>
                <p class="lede">
                  I confirm that I,
                  <span>{{form.proprietor_new_full_name.data}}</span>, was married to
                  <span>{{form.partner_name.data}}</span> on
                  <span>{{form.marriage_date.data | format_date_DMY}}</span> in
                  <span>{{form.marriage_place.data}}</span>,
                  <span>{{form.marriage_country.data}}</span>.
                </p>
                <p>The information I provide in this application will be used to change the name on registered title number {{form.title_number.data}}.</p>
                <p class="panel-indent">If I knowingly give false information this could lead to a criminal prosecution resulting in a fine or prison sentence.</p>

                {{ render_field(form.confirm) }}

                <button type="submit" id="submit" class="button">Submit</button>
              </fieldset>
            </form>

        </div>
    </div>
</main>

{% endblock %}

{% block body_end %}
  <script src="{{ landregistry_asset_path }}javascripts/land-registry-scripts.js"></script>
  <script>
    (function($) {
      $(function() {
        var $buttons = $("label input[type='radio'], label input[type='checkbox']");
        GOVUK.selectionButtons($buttons);
      });
    }(jQuery));
  </script>
{% endblock %}
