{% extends "servicefrontend_base.html" %}
{% from "_form_helpers.html" import render_field %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
    {% include "inc_alpha_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <form class="form" action="/relationship/conveyancer/clients" method="POST">

          <h1 class="form-title heading-large">
            Is your client buying or selling this property?
          </h1>

          <div class="form-group">
            <fieldset>
                {% for subfield in form.buying_or_selling_property %}
                    {% if subfield.label.text == "Another task" %}
                        <p class="form-block">or</p>
                        <ul>{{ subfield }}
                        {{ subfield.label }}</ul>
                    {% else %}
                        <ul>{{ subfield }}
                        {{ subfield.label }}</ul>
                    {% endif %}
                {% endfor %}
            </fieldset>
          </div>
          <div class="form-group" id="taskDetail" style="display: none;">
            {{ render_field(form.another_task)}}
          </div>

          <div class="form-group">
            <input type="submit" class="button" value="Next">
          </div>

        </form>

      </div>
    </div>


  </div>
</main>

<script type="text/javascript">

    $(function() {
      $(':radio[name="buying_or_selling_property"]').on('change', function() {
        if ($(this).is(':checked') && $(this).val() === "other") {
          $('#taskDetail').show();
        } else {
          $('#taskDetail').hide();
        }
      }).trigger('change');
    });

  </script>


{% endblock %}
