{% extends "servicefrontend_base.html" %}
{% from "_form_helpers.html" import render_field %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
    {% include "inc_alpha_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <h1 class="form-title heading-large">
          Add client details
        </h1>

        <div class="full-width">
          {%- with messages = get_flashed_messages(with_categories=true) -%}
          {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
          {%- endwith %}
        </div>

        <form class="form" action={{action_path}}  method="POST">

          {{ form.csrf_token }}

          {{ render_field(form.full_name) }}

          <!-- Date of birth -->
          {{ render_field(form.date_of_birth) }}
          {{ render_field(form.address) }}
          {{ render_field(form.telephone) }}
          {{ render_field(form.email) }}


          <fieldset>
            <legend>Gender</legend>
            {{ render_field(form.gender) }}
          </fieldset>

          <div class="form-group">
            <input type="submit" class="button" value="Add client">
          </div>

        </form>

      </div>
    </div>


  </div>
</main>

{% endblock %}
