{% extends "servicefrontend_base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
    {% include "inc_alpha_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <h1>Create a relationship</h1>

        <div class="text">

          <p class="lede">Generate a token to do this at the land registry. [content to come]</p>

          <p>Use this service when you are a conveyancer who needs to act on behalf of someone else.</p>

          <p>To use this service you’ll need:</p>
          <ul class="list-bullet">
            <li>To be registered with GOV.UK Verify &mdash; <a href="#">sign up here</a></li>
            <li>Details for the property you wish to act on</li>
            <li>Personal contact details for your client(s)</li>
          </ul>

        </div>

        <p>
          <a href="/relationship/conveyancer/login" class="button">Start now</a>
        </p>

      </div>
    </div>


  </div>
</main>

{% endblock %}
