{% extends "servicefrontend_base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
    {% include "inc_alpha_banner.html" %}

    <div class="outer-block">
      <div class="inner-block">

        <h1 class="heading-large">Confirm</h1>

      </div>
    </div>

    <div class="grid-wrapper">
      <div class="grid grid-1-4">
        <h2 class="inner-block heading-small">Property</h2>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <p>{{address.property_full_address}}</p>
        </div>
      </div>

    </div>

    <div class="grid-divider grid-3-4"></div>

    <div class="grid-wrapper">
      <div class="grid grid-1-4">
        <h2 class="inner-block heading-small">Task</h2>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <p>{{dict['task']}}</p>
        </div>
      </div>
    </div>

    <div class="grid-divider grid-3-4"></div>

    <div class="grid-wrapper">
      <div class="grid grid-1-4">
          <h2 class="inner-block heading-small">Client</h2>
      </div>
      <div class="grid grid-1-4">
        <div class="inner-block">
          <p>
            <b>{{ client_name }}</b><br>
            {{ client_address }}
          </p>
        </div>
      </div>
    </div>


    <div class="grid-divider grid-3-4"></div>

    <div class="outer-block">
      <div class="inner-block">
        <p>
          <a href="/relationship/conveyancer/token" class="button">Confirm details</a>
        </p>
      </div>
    </div>

  </div>
</main>

{% endblock %}
