{% extends "servicefrontend_base.html" %}
{% import 'address_macros.html' as address with context %}

{% block content %}

<main id="wrapper" role="main">

    <div id="content">
        {% include "inc_alpha_banner.html" %}

        <div class="outer-block">
            <div class="inner-block">

                <h1 class="heading-large">Select property</h1>

                {% if title %}

                <ul class="results-list">
                    <li class="result">

                      <p>Title number: {{ title.title_number }}</p>

                      <div class="grid grid-1-3">
                            {{ address.format(title["property_description"]["fields"]["addresses"][0]) }}
                        </div>

                        <form class="form" action="/relationship/conveyancer/task" method="POST">
                            <input type="hidden" name="title_no" value="{{ title.title_number }}">
                            <input type="hidden" name="property_full_address" value="{{ full_addresss }}">
                            <p>
                                <input type="submit" class="button" value="Select this property">
                            </p>
                        </form>
                      </div>

                      <div class="grid grid-1-3">
                          <div id="map" class="title-plan" style="width:240px; height:160px;">
                          </div>
                      </div>

                    </li>
                </ul>

                {% else %}
                    <p>No results found</p>
                {% endif %}

            </div>
        </div>


    </div>
</main>

{% endblock %}


{% block js_additionals %}
<script type='text/javascript'>
    var extentData = {{ title.extent | tojson}};
    var easementData = null;
    var apiKey = "{{ apiKey }}";
</script>
<script src="{{asset_path}}/javascripts/map.js"></script>
{% endblock %}
