{% from "_form_helpers.html" import render_field %}
{% extends "servicefrontend_base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
    {% include "inc_alpha_banner.html" %}

        <div class="inner-block">

            <h1 class="heading-xlarge">
              Change register
            </h1>

            <h2 class="heading-large">Change proprietor name by way of marriage</h2>

            <form action='' method='POST'>
              {{ form.csrf_token }}{{form.hidden_tag()}}

              <fieldset>
                {{ form.title_number }}
                {{form.proprietor_ull_name}}

                <div class="form-group notification">
                  <label class="control-label" for="proprietor_name">Previous name</label>
                  <span class="notification__highlight" id="proprietor_name" name="proprietor_name">
                    {{form.proprietor_full_name.data}}
                  </span>
                </div>

                {{ render_field(form.proprietor_new_full_name) }}
                {{ render_field(form.partner_name) }}
                {{ render_field(form.marriage_date) }}
                {{ render_field(form.marriage_place) }}
                {{ render_field(form.marriage_country) }}
                {{ render_field(form.marriage_certificate_number) }}

                <button type="submit" id="submit" class="button">Submit</button>
              </fieldset>
            </form>

        </div>
    </div>
</main>







{% endblock %}
