{% extends "servicefrontend_base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
        <div class="inner-block">
            {%- with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {%- endwith %}


            {% if 'CONVEYANCER' in roles %}
                <h1>Conveyancer</h1>
                <p>Here's what you can do now:</p>
                <a href="/relationship/conveyancer">Create a client relationship</a>
            {% else %}
                {% if 'CITIZEN' in roles %}
                    <h1>Citizen</h1>
                    <p>Here's what you can do now:</p>
                    <a href="/relationship/client">Confirm a relationship</a>
                {% endif %}
            {% endif %}


        </div>
    </div>
</main>

{% endblock %}
