{% extends "servicefrontend_base.html" %}
{% import 'address_macros.html' as address with context %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">

        {% include "inc_alpha_banner.html" %}

        <div class="outer-block">
            <div class="inner-block">

                {% if is_owner and not historical_view %}
                    <div class="notification edit-mode">
                        <h2 class="heading-medium">Edit mode</h2>
                    </div>
                {% endif %}

                {% if historical_view %}
                    <p><a href="/property/{{ title.title_number }}/changes">Back to listing of changes</a></p>
                {% endif %}

                <div class="callout callout--summary">

                    <h1 class="heading-large first-heading">
                        {% if historical_view %}
                            Historical view:<br>
                        {% endif %}
                        Register of title <span class="title-flag">{{ title.title_number }}</span>
                    </h1>

                    {% if historical_view %}
                        <p>
                            Showing this register at <b>{{ title.last_application | datetimeformat}}</b>
                        </p>
                    {% else %}
                        <p>
                            This register was last changed on <b>{{ title.last_application | datetimeformat}}</b>
                        </p>
                    {% endif %}

                    <div class="lede">

                        <div class="grid grid-1-3">
                            {{ address.format(title["property_description"]["fields"]["addresses"][0]) }}
                        </div>

                        <figure class="grid grid-1-3">
                            {% if title.extent is defined %}
                                <div id="map" class="title-plan" style="width:300px; height:200px;"></div>
                            {% endif %}
                        </figure>

                    </div>

                    <dl class="definition-tabular">
                        <dt>Owner(s)</dt>
                        <dd>
                            {% if title.proprietorship.fields.proprietors|count > 1 %}
                                <ul class="collapse">
                                {% for proprietor in title.proprietorship.fields.proprietors  %}
                                    <li>
                                        {{ proprietor.name.full_name }}
                                        {% if is_owner and not historical_view %}
                                            <span class='change edit-mode'>
                                                (<a href='{{request.path}}/edit/title.proprietor.{{loop.index}}'>change</a>)
                                            </span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                                </ul>
                            {% else %}
                                {{ title.proprietorship.fields.proprietors[0].name.full_name }}
                                {% if is_owner and not historical_view %}
                                    <span class='change edit-mode'>
                                        (<a href='{{request.path}}/edit/title.proprietor.1'>change</a>)
                                    </span>
                                {% endif %}
                            {% endif %}
                        </dd>

                        <dt>Lender(s)</dt>
                        <dd>LENDER(S)</dd>

                        <dt>Tenure type</dt>
                        <dd>{{ title.tenure|capitalize }}</dd>

                        <dt>Title quality</dt>
                        <dd>{{ title.class_of_title|capitalize }}</dd>

                        {% if title.price_paid %}
                            <dt>Price paid</dt>
                             {% if title.price_paid.fields.amount %}
                                <dd>{{ title.price_paid.fields.amount[0] }} on {{ title.price_paid.fields.date[0] | dateformat }}</dd>
                                 {% else %}
                                 <dd>{{ title.price_paid.full_text.decode('unicode-escape') }}</dd>
                            {% endif %}
                        {% endif %}
                    </dl>

                </div><!-- /summary -->


                <div class="grid-wrapper">

                    <div class="grid grid-1-4"><!-- left col nav -->
                        <section class="inner-block page-contents js-stick-at-top-when-scrolling">
                            <h2 class="visuallyhidden">Register contents</h2>
                                <nav>
                                    <ul>
                                        <li><a href="#property-details">Property details</a></li>
                                        <li>
                                            <a href="#property-restrictions">
                                                Restrictions
                                                {% if title.restrictions %} ({{ title.restrictions|count }}){% endif %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#property-restrictive-covenants">
                                                Restrictive covenants
                                                {% if title.restrictive_covenants %} ({{ title.restrictive_covenants|count }}){% endif %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#property-provisions">
                                                Easements
                                                {% if title.easements %}({{ title.easements|count }}){% endif %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#property-provisions">
                                                Provisions
                                                {% if title.provisions %} ({{ title.provisions|count }}){% endif %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#property-bankruptcy">
                                                Bankruptcy notices
                                                {% if title.bankruptcy %} ({{ title.bankruptcy|count }}){% endif %}
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                        </section>
                    </div><!-- / left col nav -->

                    <div class="grid grid-3-4"><!-- right col content -->
                        <div class="inner-block">

                            <section id="property-details" class="text js-faux-details js-faux-details--open">

                                <h2 class="heading-medium collapse-top">Property details</h2>

                                <p>{{ title.property_description.full_text.decode('unicode-escape') }}</p>

                                <div class="group">
                                    <h3 class="heading-medium">Owner(s)</h3>

                                    {% for proprietor in title.proprietorship.fields.proprietors %}
                                        <div class="grid grid-1-2">
                                            <p>
                                                {{ proprietor.name.full_name }}<br>
                                                {% for address in proprietor.addresses %}
                                                    {{ address.full_address }}
                                                {% endfor %}
                                            </p>
                                        </div>
                                    {% endfor %}

                                </div>

                                {% if title.h_schedule %}
                                    <h3 class="heading-medium">Lease details</h3>
                                    {% for lease in title.h_schedule.deeds %}
                                        <dl class="definition-tabular">
                                            <dt>Date</dt>
                                            <dd>{{ lease.date }}</dd>
                                            <dt>Term</dt>
                                            <dd>{{ lease.term }}</dd>
                                            {% if lease.rent %}
                                                <dt>Rent</dt>
                                                <dd>{{ lease.rent }}</dd>
                                            {% endif %}
                                            <dt>Parties</dt>
                                            <dd>
                                                {% for party in lease.parties %}
                                                    {{ party.full_name }}{% if not loop.last %}<br>{% endif %}
                                                {% endfor %}
                                            </dd>
                                        </dl>
                                    {% endfor %}
                                    {% if title.h_schedule.notes|count > 0 %}
                                        {% for note in title.h_schedule.notes %}
                                            <p class="footnote">
                                                {{ note.text }}
                                            </p>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}

                            </section>



                            <section id="property-restrictions" class="text js-faux-details">

                                <h2 class="heading-medium">
                                    Restrictions
                                    {% if title.restrictions %} <span class="number-flag">{{ title.restrictions|count }}</span>{% endif %}
                                </h2>

                                <details>
                                    <summary>What are restrictions?</summary>
                                    <div class="panel-indent">
                                        <p>A restriction limits the powers of a registered owner to deal with or dispose of the registered land. It may also limit the powers of a chargee to dispose of a charge.</p>
                                    </div>
                                </details>

                                {% if title.restrictions %}
                                    {% for restriction in title.restrictions %}
                                        <p>{{ restriction.full_text.decode('unicode-escape') }}</p>
                                    {% endfor %}
                                {% else %}
                                    <p>There are currently no restrictions on this title.</p>
                                {% endif %}

                            </section>



                            <section id="property-restrictive-covenants" class="text js-faux-details">

                                <h2 class="heading-medium">
                                    Restrictive covenants
                                    {% if title.restrictive_covenants %} <span class="number-flag">{{ title.restrictive_covenants|count }}</span>{% endif %}
                                </h2>

                                <details>
                                    <summary>What is a restrictive covenant?</summary>
                                    <div class="panel-indent">
                                        <p>A restrictive covenant is a promise by one person to another (eg a buyer of land and a seller) not to do certain things with the property or land. The restrictions will continue to be in effect for any subsequent buyer.</p>
                                        <p>Common examples of restrictive covenants include:</p>
                                        <ul class="list-bullet">
                                            <li>preventing alterations to an existing property</li>
                                            <li>agreeing not to run a business from the property</li>
                                        </ul>
                                    </div>
                                </details>

                                {% if title.restrictive_covenants %}
                                    {% for covenant in title.restrictive_covenants %}
                                        <p>{{ covenant.full_text.decode('unicode-escape') }}</p>
                                    {% endfor %}
                                {% else %}
                                    <p>There are currently no restrictive covenants on this title.</p>
                                {% endif %}

                            </section>


                            <section id="property-easements" class="text js-faux-details">

                                <h2 class="heading-medium">
                                    Easements
                                    {% if title.easements %} <span class="number-flag">{{ title.easements|count }}</span>{% endif %}
                                </h2>

                                <details>
                                    <summary>What are easements?</summary>
                                    <div class="panel-indent">
                                        <p>An easement is a right to use someone else's land for a specified purpose. It relates to the land or property itself and isn’t a personal right.</p>
                                        <p>Common examples of easements:</p>
                                        <ul class="list-bullet">
                                            <li>rights of way such as public footpaths</li>
                                            <li>rights to run service pipes and cables underground</li>
                                        </ul>
                                    </div>
                                </details>

                                {% if title.easements %}
                                    {% for easement in title.easements %}
                                        <p>{{ easement.full_text.decode('unicode-escape') }}</p>
                                    {% endfor %}
                                {% else %}
                                    <p>There are currently no easements on this title.</p>
                                {% endif %}

                            </section>


                            <section id="property-provisions" class="text js-faux-details">

                                <h2 class="heading-medium">
                                    Provisions
                                    {% if title.provisions %} <span class="number-flag">{{ title.provisions|count }}</span>{% endif %}
                                </h2>

                                <details>
                                    <summary>What are provisions?</summary>
                                    <div class="panel-indent">
                                        <p>A provision is an agreement between parties which usually relates to ownership and maintenance of boundaries and the right to the enjoyment of light and air.</p>
                                    </div>
                                </details>

                                {% if title.provisions %}
                                    {% for provision in title.provisions %}
                                        <p>{{ provision.full_text.decode('unicode-escape') }}</p>
                                    {% endfor %}
                                {% else %}
                                    <p>There are currently no provisions on this title.</p>
                                {% endif %}

                            </section>


                            <section id="property-bankruptcy" class="text js-faux-details">

                                <h2 class="heading-medium">
                                    Bankruptcy notices
                                    {% if title.bankruptcy %} <span class="number-flag">{{ title.bankruptcy|count }}</span>{% endif %}
                                </h2>

                                <details>
                                    <summary>What are bankruptcy notices?</summary>
                                    <div class="panel-indent">
                                        <p>Help text</p>
                                    </div>
                                </details>

                                {% if title.bankruptcy %}
                                    {% for bankrupt in title.bankruptcy %}
                                        <p>{{ bankrupt.full_text.decode('unicode-escape') }}</p>
                                    {% endfor %}
                                {% else %}
                                    <p>There are no bankruptcy notices on this title.</p>
                                {% endif %}

                            </section>

                        </div>

                        <div class="inner-block">
                            <div class="legal-division--top">

                                {% if is_owner and not historical_view %}
                                    <section class="js-faux-details">

                                        <h3 class="heading-medium">Changes to this title</h3>

                                        <p>
                                            <a href="{{ title.title_number }}/changes">View pending and historical changes to this title</a>
                                        </p>

                                    </section>
                                {% endif %}

                            </div>
                        </div>


                        {% if is_owner and not historical_view %}
                            <div class="inner-block">
                                <div class="action-division--top">
                                    <button class="button" id="makeChange">Make a change to the register</button>
                                </div>
                            </div>
                        {% endif %}

                    </div><!-- / right col content -->
                </div><!-- / grid wrapper -->

            </div><!-- end inner-block -->
        </div><!-- end outer-block -->

    </div><!-- end content -->
</main>

{% endblock %}

{% block js_additionals %}
<script type='text/javascript'>
    var extentData = {{ title.extent | tojson}};
    var easementData = null;
    var apiKey = "{{ apiKey }}";
</script>
<script src="{{asset_path}}javascripts/map.js"></script>

{% if is_owner and not historical_view %}
<script>
    $(document).ready(function() {
        var $editMode = $('.edit-mode');
        $editMode.hide();
        $('#makeChange').click(function() {
            $editMode.show();
            $('html, body').animate({ scrollTop: 0 }, 0);
        });
    });
</script>
{% endif %}

{% endblock %}
